{% extends 'base.html.njk' %}

{% block body %}
<h3>{{ username }}'s Cart</h3>
<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>Animal Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for animal in animals %}
    <tr>
      <td>{{ animal.name }}</td>
      <td>{{ animal.qty }}</td>
      <td>{{ animal.price }}</td>
      <td>{{ animal.subtotal }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>Total: {{ totalCost }}</h3>

<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
